{% extends 'projetoVS.html' %}
<link rel="stylesheet" href="../static/css/projetoMand.css">

{% cabecalho %}
<header class="Cabecalho">
  <div class="fundoinicial">
    <h1 class="titulo">Mandacaru.dev The Twelve</h1>
    <nav class="navegador">
      <ul class="menu">
        <li><a href="../templates/projetoVS copy.html">Inicío</a></li>
        <li><a href="#login" onclick="rolardevagar('f1')">Login/Cadastro</a></li>
        <li><a href="#f2" onclick="rolardevagar('f2')">Funcionalidade 2</a></li>
        <li><a href="#f3" onclick="rolardevagar('f3')">funciionalidade 3</a></li>
      </ul>
    </nav>
  </div>
</header>
{% endblock %}

{% block login %}
<div class="login">

  <div class="meme-1">
    <video width="360" controls autoplay muted loop>
      <source src="../static/img/memes/videos/gato-beijo.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="meme-2">
    <video width="360" border-radius="30" controls autoplay muted loop>
      <source src="../static/img/memes/videos/gato-beijo.mp4" type="video/mp4" />
    </video>
  </div>
  <section class="formulario" action>
    <p>Bem vindo(a) de volta &#128527
      ou Prazer em conhece-lo(a) &#128526</p>
    <form method="POST">
      <label>Nome:</label><br>
      <input type="text" name="nome"><br>
      <label>CPF:</label><br>
      <input type="cpf" name="CPF"><br>
      <label>Senha:</label><br>
      <input type="password" name="senha"><br>
      <input class="enviar" type="submit" value="Enviar">
    </form>
  </section>
</div>
{% endblock %}
{% block rodape %}
<footer class="rodape">
  <p>Time 12. Alguns Direitos Reservados.</p>
</footer>
{% endblock %}