<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv='X-UA-Compatible' content="IE=edge">
  <link rel="stylesheet" href="../static/css/projetoMand.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script>document.documentElement.className += ' js';</script>
  <script src="../static/js/projetoMand.js"></script>
  <title>Time 12</title>
</head>

<body>
  <section class="quiz">
    <h1>Quiz de Educação Financeira</h1>

    <div class="aux1">
      <button class="button1">Próximo Tópico >></button>
    </div>
    <div class="aux2">
      <button class="button2">Próxima Pergunta ></button>
    </div>
    <div class="questions">

      <main class="ativo"> <!--Topico 1-->
        <h2>Orçamento</h2>
        <article>
          <p>Pergunta 1: Como criar um orçamento eficiente?</p>
          <button onclick="checkAnswer('certo')">a) Fazer uma lista mensal de todas as receitas e despesas.</button>
          <button onclick="checkAnswer('erro')">b) Controlar apenas as despesas maiores.</button>
          <button onclick="checkAnswer('erro')">c) Anotar receitas esporádicas e esquecer as fixas.</button>
          <section class="resposta">
            <div>
              <ul class="resposta--">
                <li class="texto">
                  <p>EXCELENTE</p>
                  <p>Resposta correta! Criar uma lista mensal de todas as receitas e despes</p>
                </li>
                <li class="video-resposta">
                  <video class="video-acertou" autoplay muted controls loop>
                    <source src="../static/img/memes/sorrisooculos.mp4" type="video/mp4">
                  </video>
                </li>
              </ul>
            </div>
            <div>
              <ul class="resposta--">
                <li class="texto">
                  <p>Próxima vez tenta D de Deus</p>
                </li>
                <li class="video-resposta">
                  <video class="video-errou" autoplay muted controls loop>
                    <source src="../static/img/memes/felizparapreocupado.mp4" type="video/mp4">
                  </video>
                </li>
              </ul>
            </div>
          </section>
        </article>

        <article>
          <p>Pergunta 2: Que atitude gera uma saúde econômica no orçamento de uma pessoa?</p>
          <button onclick="checkAnswer('erro')">a) Manter todas as despesas inalteradas.</button>
          <button onclick="checkAnswer('erro')">b) Aumentar o gasto em itens de lazer.</button>
          <button onclick="checkAnswer('certo')">c) Classificar despesas em essenciais e supérfluas e cortar os supérfluos.</button>

          <section class="resposta">
            <div>
              <ul class="resposta--">
                <li class="texto">
                  <p>EXCELENTE!!</p>
                  <p>Resposta correta! O menino(a) é bom</p>
                </li>
                <li class="video-resposta">
                  <video class="video-acertou" autoplay muted controls loop>
                    <source src="../static/img/memes/bonecoroxo.mp4" type="video/mp4">
                  </video>
                </li>
              </ul>
            </div>
            <div>
              <ul class="resposta--">
                <li class="texto">
                  <p>Errou</p>
                  <p>Próxima vez tenta D de Deus</p>
                </li>
                <li class="video-resposta">
                  <video class="video-errou" autoplay muted controls loop>
                    <source src="../static/img/memes/macaco.mp4" type="video/mp4">
                  </video>
                </li>
                </li>
              </ul>
            </div>
          </section>

        </article>
        <article>
          <p>Pergunta 3: Que atitude possue mais precaução sobre orçamento?</p>
          <button onclick="checkAnswer('certo')">a) Revisar o orçamento mensalmente e ajustar conforme necessário.</button>
          <button onclick="checkAnswer('erro')">b) Fazer o orçamento uma vez por ano sem revisões.</button>
          <button onclick="checkAnswer('erro')">c) Ajustar o orçamento apenas quando surgir uma emergência.</button>
          <section class="resposta">
            <div>
              <ul class="resposta--">
                <li class="texto">
                  <p>Parábens!!</p>
                  <p>resposta correta</p>
                </li>
                <li class="video-resposta">
                  <video class="video-acertou" autoplay muted controls loop>
                    <source src="../static/img/memes/preguicafeliz.mp4" type="video/mp4">
                  </video>
                </li>
              </ul>
            </div>
            <div>
              <ul class="resposta--">
                <li class="texto">
                  <p>Parábens</p>
                  <p>pois os erros te deixam mais forte</p>
                </li>
                <li class="video-resposta">
                  <video class="video-errou" autoplay muted controls loop>
                    <source src="../static/img/memes/felizparapreocupado.mp4" type="video/mp4">
                  </video>
                </li>
              </ul>
            </div>
          </section>
        </article>
      </main>
      <main><!--Topico 4-->

        <h2>Como entender e gerenciar dívidas?</h2>
        <article>
          <p>Pergunta 4: Como entender e gerenciar dívidas?</p>
          <button onclick="checkAnswer('certo')">a) Diferenciar entre dívidas boas (como financiamento imobiliário) e ruins (como cartões de crédito).</button>
          <button onclick="checkAnswer('erro')">b) Considerar todas as dívidas como ruins.</button>
          <button onclick="checkAnswer('erro')">c) Ignorar o tipo de dívida e focar apenas no valor total.</button>
          <section class="resposta">
            <div>
              <ul class="resposta--">
                <li class="texto">
                  <p>EXCELENTE</p>
                  <p>Resposta correta! Identificar diferentes tipos de dívida é essencial para uma boa gestão financeira.</p>
                </li>
                <li class="video-resposta">
                  <video class="video-acertou" autoplay muted controls loop>
                    <source src="../static/img/memes/sorrisooculos.mp4" type="video/mp4">
                  </video>
                </li>
              </ul>
            </div>
            <div>
              <ul class="resposta--">
                <li class="texto">
                  <p>Próxima vez tenta D de Deus</p>
                </li>
                <li class="video-resposta">
                  <video class="video-errou" autoplay muted controls loop>
                    <source src="../static/img/memes/felizparapreocupado.mp4" type="video/mp4">
                  </video>
                </li>
              </ul>
            </div>
          </section>
        </article>
        <article>
          <p>Pergunta 4: Como entender e gerenciar dívidas?</p>
          <button onclick="checkAnswer('certo')">a) Priorizar o pagamento de dívidas com juros mais altos.</button>
          <button onclick="checkAnswer('erro')">b) Pagar todas as dívidas de forma igual, independentemente da taxa de juros.</button>
          <button onclick="checkAnswer('erro')">c) Não considerar as taxas de juros ao pagar dívidas.</button>
          <section class="resposta">
            <div>
              <ul class="resposta--">
                <li class="texto">
                  <p>EXCELENTE!!</p>
                  <p>Resposta correta! O menino(a) é bom</p>
                </li>
                <li class="video-resposta">
                  <video class="video-acertou" autoplay muted controls loop>
                    <source src="../static/img/memes/bonecoroxo.mp4" type="video/mp4">
                  </video>
                </li>
              </ul>
            </div>
            <div>
              <ul class="resposta--">
                <li class="texto">
                  <p>Errou</p>
                  <p>Próxima vez tenta D de Deus</p>
                </li>
                <li class="video-resposta">
                  <video class="video-errou" autoplay muted controls loop>
                    <source src="../static/img/memes/macaco.mp4" type="video/mp4">
                  </video>

                </li>
              </ul>
            </div>
          </section>
        </article>

        <article>
          <p>Pergunta 4: Como entender e gerenciar dívidas?</p>
          <button onclick="checkAnswer('certo')">a) Estabelecer um plano de pagamento regular para quitar as dívidas.</button>
          <button onclick="checkAnswer('erro')">b) Pagar dívidas apenas quando sobrar dinheiro.</button>
          <button onclick="checkAnswer('erro')">c) Deixar as dívidas acumularem sem um plano claro.</button>
          <section class="resposta">
            <div>
              <ul class="resposta--">
                <li class="texto">
                  <p>Parábens!!</p>
                  <p>resposta correta</p>
                </li>
                <li class="video-resposta">
                  <video class="video-acertou" autoplay muted controls loop>
                    <source src="../static/img/memes/preguicafeliz.mp4" type="video/mp4">
                  </video>
                </li>
              </ul>
            </div>
            <div>
              <ul class="resposta--">
                <li class="texto">
                  <p>Parábens</p>
                  <p>pois os erros te deixam mais forte</p>
                </li>
                <li class="video-resposta">
                  <video class="video-errou" autoplay muted controls loop>
                    <source src="../static/img/memes/felizparapreocupado.mp4" type="video/mp4">
                  </video>
                </li>
              </ul>
            </div>
          </section>
        </article>
      </main>
      <main> <!--Topico 5-->

        <h2>Planejamento Financeiro</h2>
        <article>
          <p>Pergunta 1: Qual a importância do planejamento financeiro?</p>
          <button onclick="checkAnswer('certo')">a) Estabelecer metas de curto, médio e longo prazo.</button>
          <button onclick="checkAnswer('erro')">b) Não definir metas específicas.</button>
          <button onclick="checkAnswer('erro')">c) Apenas pensar em metas de curto prazo.</button>
          <section class="resposta">
            <div>
              <ul class="resposta--">
                <li class="texto">
                  <p>EXCELENTE</p>
                  <p>Resposta correta! Definir metas financeiras é crucial para alcançar a estabilidade.</p>
                </li>
                <li class="video-resposta">
                  <video class="video-acertou" autoplay muted controls loop>
                    <source src="../static/img/memes/sorrisooculos.mp4" type="video/mp4">
                  </video>
                </li>
              </ul>
            </div>
            <div>
              <ul class="resposta--">
                <li class="texto">
                  <p>Quanto maior a guerra maior a vitória será!! errou guerreiro(a)</p>
                </li>
                <li class="video-resposta">
                  <video class="video-errou" autoplay muted controls loop>
                    <source src="../static/img/memes/felizparapreocupado.mp4" type="video/mp4">
                  </video>

                </li>
              </ul>
            </div>
          </section>
        </article>

        <article>
          <p>Pergunta 2: Que atitute melhora o planejamento financeiro?</p>
          <button onclick="checkAnswer('certo')">a) Revisar e ajustar o plano financeiro periodicamente.</button>
          <button onclick="checkAnswer('erro')">b) Criar o plano e nunca revisá-lo.</button>
          <button onclick="checkAnswer('erro')">c) Ajustar o plano apenas em casos de emergência.</button>
          <section class="resposta">
            <div>
              <ul class="resposta--">
                <li class="texto">
                  <p>EXCELENTE!!</p>
                  <p>Resposta correta! O menino(a) é bom</p>
                </li>
                <li class="video-resposta">
                  <video class="video-acertou" autoplay muted controls loop>
                    <source src="../static/img/memes/bonecoroxo.mp4" type="video/mp4">
                  </video>
                </li>
              </ul>
            </div>
            <div>
              <ul class="resposta--">
                <li class="texto">
                  <p>Errou</p>
                  <p>Próxima vez tenta D de Deus</p>
                </li>
                <li class="video-resposta">
                  <video class="video-errou" autoplay muted controls loop>
                    <source src="../static/img/memes/macaco.mp4" type="video/mp4">
                  </video>
                </li>
              </ul>
            </div>
          </section>
        </article>

        <article>
          <p>Pergunta 3: Qual a importância do planejamento financeiro?</p>
          <button onclick="checkAnswer('erro')">a) Manter o plano inalterado independentemente das circunstâncias.</button>
          <button onclick="checkAnswer('certo')">b) Adaptar o plano às mudanças na renda e nas despesas.</button>

          <button onclick="checkAnswer('erro')">c) Ajustar o plano apenas em caso de grandes mudanças.</button>
          <section class="resposta">
            <div>
              <ul class="resposta--">
                <li class="texto">
                  <p>Parábens!!</p>
                  <p>resposta correta</p>
                </li>
                <li class="video-resposta">
                  <video class="video-acertou" autoplay muted controls loop>
                    <source src="../static/img/memes/TITE CAINDO (QUERO MEMES)(360P).mp4" type="video/mp4">
                  </video>
                </li>
              </ul>
            </div>
            <div>
              <ul class="resposta--">
                <li class="texto">
                  <p>Errou</p>
                  <p>Assim não amiguinhu</p>
                </li>
                <li class="video-resposta">
                  <video class="video-errou" autoplay muted controls loop>
                    <source src="../static/img/memes/macaco.mp4" type="video/mp4">
                  </video>
                </li>
              </ul>
            </div>
          </section>
        </article>
      </main>
    </div>
  </section>
  <script src="../static/js/quiz.js"></script>
</body>

</html>