.login {
  display: grid;
  grid-template-columns: 32% 35% 32%;
  grid-template-rows: 300px;
  margin: 2px;
  padding: 8px;
  gap: 5px;

}


/*  memes problema na posição  */
.login .meme-1 {
  grid-row: 1;
  grid-column: 1;
  max-width: 100%;
  margin: 5px;
  width: 100%;
  border-radius: 30px;

}
.login .meme-2 {

  grid-row: 1;
  grid-column: 3;
  width: 100%;
  max-width: 100%;

}
.login .meme-1 video,
.login .meme-2 video {
  display: block;
  height: auto;
  max-width: 98%;
  border-radius: 1500px;
}


/*  formulario  */
.login .formulario {
  display: block;
  grid-row: 1;
  grid-column: 2;
  width: 95%;
  max-width: 100%;
  height: auto;
  margin: 5px;
  margin-left: 45px;

}

.login .formulario p{
  display: block;
  font-size: 1.6rem;
  width: 80%;
  margin-left: 28px;
  padding-left: 10px;
  border-left: solid 12px aqua;
  border-radius: 50px 0px 0px 50px;
}
.formulario label{
  justify-items: center;
  text-align: center;
  width: 100%;
  margin-left: -5px;
  padding-left: 3px;
  font-size: 1.2rem;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
  border-left: solid 12px aqua;
}
.formulario input {
  border-radius: 15px 8px;
  padding: 5px;
  margin: 2px;
  font-size: 1.1rem;
  height: 40px;
  width: 80%;
  max-width: 100%;
  border: solid 2px transparent;
}
.formulario .enviar{
  display: inline;
  justify-items: center;
  align-items: center;
  border-radius: 20px 20px;
  margin: 10px;
  width: 70%;
  height: 52px;
  margin-left: 10.5%;
  margin-bottom: 4px;
  padding: 4px;

  background-color: rgb(255, 255, 255);
  border: solid 2px aqua;
  color: rgb(0, 0, 0);
}
.formulario input:hover {
  border: solid 2px aqua;
}

.formulario .enviar:hover {
  background-color: aquamarine;
  color: rgb(19, 136, 231);
  font-weight: bold;
  border: solid 5px wheat;

}

@keyframes show {
  from {
    opacity: 0.1;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@media (max-width: 1100px) {
  .login {
    grid-template-columns: 40% 60%;
  }
  .login .meme-2 {
    display: none;
  }
  .login .formulario {
    margin-left: 10px !important;
  }
}
@media (max-width: 700px) {
  .login .formulario {
    margin-left: 10px !important;
  }
  .login .formulario input{
    height: 30px;
    padding: 5px;
  }
  .login .formulario .enviar {
    font-size: 1rem;
    padding: 1px;

  }
  .login .formulario .enviar:hover {
    font-size: 1.1rem;
  }
}
@media (max-width: 400px) {
  body {
    margin: 0px 2px 0px 0px;
  }
}